{% extends 'extends/index.html' %}
{% block title %} Открытые проекты {% endblock %}
{% block content %}
<h2>
    Открытые проекты
</h2>
<div class="d-flex flex-wrap">
    {% for project in projects %}
    <div class="p-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ project }}</h5>
                <p class="card-text">{{ project.about_project }}</p>
                <a href="project/{{ project.id }}" class="btn btn-primary">Страница проекта</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}