{% extends 'extends/index.html' %}
{% block title %} {{ project }} {% endblock %}
{% block content %}
<h2> {{ project }} </h2>
<div class="d-flex flex-wrap">
    <div class="p-2">
        <h4>Участники и основная информация</h4>
        <h5>Основная информация</h5>
        <p> {{ project.about_project }}</p>
        <p>Создатель проекта:
            <a href="/profile/{{ project.admin.username }}">{{ project.admin }}</a>
        </p>
        <h5>Участники</h5>
        {% for participant in project.participants.all %}
        <p>
            <a class="btn btn-primary" href="/profile/{{participant.participant.username }}">{{ participant.name }}</a>
            {% if user.can_add_participant and user != participant.participant or project.admin == user %}
            <a type="button" class="btn btn-secondary" data-bs-toggle="modal"
               data-bs-target="#edit-participant{{ participant.id }}">
                <i class="fas fa-cog"></i>
            </a>
        <form method="post" action="">
            {% csrf_token %}
            <div class="modal fade" id="edit-participant{{ participant.id }}"
                 aria-labelledby="edit-participant{{ participant.id }-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="edit-participant{{ participant.id }}-label">Редактировать
                                участника</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Участник</h5>

                            <select class="form-select" aria-label="Default select example" name="participant" required>
                                <option value="participant.id">{{ participant.participant }}</option>
                            </select>
                            <div class="input-group mb-3 mt-2">
                                <label class="input-group-text">Роль</label>
                                <label>
                                    <input type="text" class="form-control" name="name" placeholder="Например режиссер"
                                           maxlength="120" value="{{ participant.name }}" required>
                                </label>
                            </div>
                            <hr>
                            <h5>Права</h5>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox"
                                       id="id_can_change_main_information{{ participant.id }}"
                                       name="can_change_main_information"
                                       {% if participant.can_change_main_information %} checked {% endif %}>
                                <label class="form-check-label"
                                       for="id_can_change_main_information{{ participant.id }}">
                                    Менять основную информацию
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox"
                                       id="id_can_change_synopsis{{ participant.id }}"
                                       name="can_change_synopsis"
                                {% if participant.can_change_synopsis %} checked {% endif %}>
                                <label class="form-check-label" for="id_can_change_synopsis{{ participant.id }}">
                                    Менять синопсис
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox"
                                       id="id_can_change_literary_script{{ participant.id }}"
                                       name="can_change_literary_script"
                                {% if participant.can_change_literary_script %} checked {% endif %}>
                                <label class="form-check-label" for="id_can_change_literary_script{{ participant.id }}">
                                    Менять литературный сценарий
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox"
                                       id="id_can_change_directors_scripts{{ participant.id }}"
                                       name="can_change_directors_scripts"
                                {% if participant.can_change_directors_scripts %} checked {% endif %}>
                                <label class="form-check-label"
                                       for="id_can_change_directors_scripts{{ participant.id }}">
                                    Менять режисерский сценарий
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox"
                                       id="id_can_change_kpp{{ participant.id }}"
                                       name="can_change_kpp"
                                {% if participant.can_change_kpp %} checked {% endif %}>
                                <label class="form-check-label" for="id_can_change_kpp{{ participant.id }}">
                                    Менять календарно-постановочный план
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox"
                                       id="id_can_add_participant{{ participant.id }}"
                                       name="can_add_participant"
                                {% if participant.can_add_participant %} checked {% endif %}>
                                <label class="form-check-label" for="id_can_add_participant{{ participant.id }}">
                                    Добавлять новых участников
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox"
                                       id="id_can_add_dates{{ participant.id }}"
                                       name="can_add_dates"
                                {% if participant.can_add_dates %} checked {% endif %}>
                                <label class="form-check-label" for="id_can_add_dates{{ participant.id }}">
                                    Добавлять даты встреч
                                </label>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-danger" name="del-participants"
                                    value="{{ participant.id }}">Удалить
                            </button>
                            <button type="submit" class="btn btn-primary" name="edit-participants"
                                    value="{{ participant.id }}">Сохранить
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        {% endif %}
        {% endfor %}
        {% if user.can_add_participant %}
        <p>
            <a type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add-participant">+</a>
        </p>
        <form method="post" action="">
            {% csrf_token %}
            <div class="modal fade" id="add-participant" aria-labelledby="add-participant-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="add-participant-label">Добавить участника</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Участник</h5>

                            <select class="form-select" aria-label="Default select example" name="participant" required>
                                <option selected>Выбери пользователя</option>
                                {% for i in all_users %}
                                <option value="{{ i.id }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group mb-3 mt-2">
                                <label class="input-group-text">Роль</label>
                                <label>
                                    <input type="text" class="form-control" name="name" placeholder="Например режиссер"
                                           maxlength="120" required>
                                </label>
                            </div>
                            <hr>
                            <h5>Права</h5>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="id_can_change_main_information"
                                       name="can_change_main_information">
                                <label class="form-check-label" for="id_can_change_main_information">
                                    Менять основную информацию
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="id_can_change_synopsis"
                                       name="can_change_synopsis">
                                <label class="form-check-label" for="id_can_change_synopsis">
                                    Менять синопсис
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="id_can_change_literary_script"
                                       name="can_change_literary_script">
                                <label class="form-check-label" for="id_can_change_literary_script">
                                    Менять литературный сценарий
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="id_can_change_directors_scripts"
                                       name="can_change_directors_scripts">
                                <label class="form-check-label" for="id_can_change_directors_scripts">
                                    Менять режисерский сценарий
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="id_can_change_kpp"
                                       name="can_change_kpp">
                                <label class="form-check-label" for="id_can_change_kpp">
                                    Менять календарно-постановочный план
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="id_can_add_participant"
                                       name="can_add_participant">
                                <label class="form-check-label" for="id_can_add_participant">
                                    Добавлять новых участников
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="id_can_add_dates"
                                       name="can_add_dates">
                                <label class="form-check-label" for="id_can_add_dates">
                                    Добавлять даты встреч
                                </label>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary" name="add-participants">Добавить</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        {% endif %}
    </div>
    <div class="p-2">
        <h4>Файлы проекта</h4>
        {% if project.synopsis or project.kpp or project.literary_script or project.directors_script %}
        {% if project.synopsis %}
        <p>Синопсис:</p>
        <a class="btn btn-primary" href="/{{ project.synopsis.name }}">Открыть в браузере</a>
        <a class="btn btn-primary" href="/{{ project.synopsis.name }}" download>Скачать</a>
        {% endif %}
        {% if project.literary_script %}
        <p class="mt-2">Литературный сценарий:</p>
        <a class="btn btn-primary" href="/{{ project.literary_script.name }}">Открыть в браузере</a>
        <a class="btn btn-primary" href="/{{ project.literary_script.name }}" download>Скачать</a>
        {% endif %}
        {% if project.directors_script %}
        <p class="mt-2">Режиссерский сценарий:</p>
        <a class="btn btn-primary" href="/{{ project.directors_script.name }}">Открыть в браузере</a>
        <a class="btn btn-primary" href="/{{ project.directors_script.name }}" download>Скачать</a>
        {% endif %}
        {% if project.kpp %}
        <p class="mt-2">Календарно-постановочный план:</p>
        <a class="btn btn-primary" href="/{{ project.kpp.name }}">Открыть в браузере</a>
        <a class="btn btn-primary" href="/{{ project.kpp.name }}" download>Скачать</a>
        {% endif %}
        {% else %}
        <p>Пока не загружен ни один файл</p>
        {% endif %}
    </div>
</div>
{% if user.can_change_main_information or user.can_change_synopsis or user.can_change_literary_script or user.can_change_directors_scripts or user.can_change_kpp %}
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#project-edit">
    Редактирование проекта
</button>
<form method="post" action="" name="change-info" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="project-edit" tabindex="-1" aria-labelledby="project-edit-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="project-edit-label">Редактирование проекта</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if user.can_change_main_information %}
                    <h5>Основная информация</h5>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Название</label>
                        <label>
                            <input type="text" class="form-control" name="name" placeholder="Название"
                                   value="{{ project.name }}" required>
                        </label>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">О проекте</label>
                        <label>
                            <textarea name="about_project" class="form-control" placeholder="Краткое описание"
                                      required>{{ project.about_project }}</textarea>
                        </label>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="open_to_join" name="open_to_join"
                               checked>
                        <label class="form-check-label" for="open_to_join">
                            Открыт для входа
                        </label>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="ended" name="ended">
                        <label class="form-check-label" for="ended">
                            Завершен
                        </label>
                    </div>
                    <hr>
                    {% endif %}
                    {% if user.can_change_synopsis %}
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="synopsis">Синопсис</label>
                        <input type="file" class="form-control" id="synopsis" placeholder="Синопсис" name="synopsis">
                    </div>
                    {% endif %}
                    {% if user.can_change_literary_script %}
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="literary_script">Лит сценарий</label>
                        <input type="file" class="form-control" id="literary_script" placeholder="Литературный сценарий"
                               name="literary_script">
                    </div>
                    {% endif %}
                    {% if user.can_change_directors_scripts %}
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="directors_script">Реж сценарий</label>
                        <input type="file" class="form-control" id="directors_script"
                               placeholder="Режиссерский сценарий"
                               name="directors_script">
                    </div>
                    {% endif %}
                    {% if user.can_change_kpp %}
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="kpp">КПП</label>
                        <input type="file" class="form-control" id="kpp" placeholder="Календарно-постановочный план"
                               name="kpp">
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    {% if project.admin == request.user %}
                    <button type="submit" class="btn btn-danger" name="del-project">Удалить проект</button>
                    {% endif %}
                    <button type="submit" class="btn btn-primary" name="edit-project">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
<div class="p-2">
    <h4>Календарь</h4>
    <h6>Пока тестовый вариант с блоками, потом будет календарь</h6>
</div>
<div class="d-flex flex-wrap">
    {% for date in dates.all %}
    <div class="p-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ date.visiting_date }} {{ date.visiting_time|time:'H:i' }}</h5>
                <div class="card-text">
                    <p>Адресс: {{ date.address }}</p>
                    <p>Сеттинг: {{ date.setting }}</p>
                    <p style="white-space: pre-line">Сцены: {{ date.scene }}</p>
                    {% if user.can_add_dates %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#editDate{{date.id}}">
                        Редактировать
                    </button>
                    <!-- Modal -->
                    <form method="post" action="" name="edit-date">
                        {% csrf_token %}
                        <div class="modal fade" id="editDate{{date.id}}" tabindex="-1" aria-labelledby="editDateLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editDateLabel">Редактировать дату</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="date">Дата</label>
                                            <input type="date" class="form-control" id="date{{ date.id }}"
                                                   name="visiting_date"
                                                   value="{{ date.visiting_date|date:'Y-m-d' }}"
                                                   required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="time">Время</label>
                                            <input type="time" class="form-control" id="time{{date.id}}"
                                                   name="visiting_time" value="{{ date.visiting_time|time:'H:i' }}"
                                                   required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="address">Адресс</label>
                                            <input type="text" class="form-control" id="address{{date.id}}"
                                                   placeholder="Адресс" required value="{{date.address}}"
                                                   name="address">
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="setting">Сеттинг</label>
                                            <input type="text" class="form-control" id="setting{{date.id}}"
                                                   placeholder="Сеттинг" required value="{{date.setting}}"
                                                   name="setting">
                                        </div>
                                        <div class="input-group">
                                            <label class="input-group-text">Сцены</label>
                                            <label>
                                                <textarea name="scene" class="form-control" placeholder="Сцены"
                                                          cols="40" required>{{date.scene}}</textarea>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Закрыть
                                        </button>
                                        <button type="submit" class="btn btn-danger" name="del-date"
                                                value="{{ date.id }}">Удалить дату
                                        </button>
                                        <button type="submit" class="btn btn-primary" name="edit-date"
                                                value="{{ date.id }}">Изменить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if user.can_add_dates %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Добавить дату
</button>
<!-- Modal -->
<form method="post" action="" name="add-date">
    {% csrf_token %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить дату</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="date">Дата</label>
                        <input type="date" class="form-control" id="date" name="visiting_date" required>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="time">Время</label>
                        <input type="time" class="form-control" id="time" name="visiting_time" required>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="address">Адресс</label>
                        <input type="text" class="form-control" id="address" placeholder="Адресс" required
                               name="address">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="setting">Сеттинг</label>
                        <input type="text" class="form-control" id="setting" placeholder="Сеттинг" required
                               name="setting">
                    </div>
                    <div class="input-group">
                        <label class="input-group-text">Сцены</label>
                        <label>
                            <textarea name="scene" class="form-control" placeholder="Сцены" cols="40"
                                      required></textarea>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

                    <button type="submit" class="btn btn-primary" name="add-date">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}