{% extends 'extends/index.html' %}
{% block title %} Люди {% endblock %}
{% block content %}
<h2>
    Все профили
</h2>
<div class="d-flex flex-wrap">
    {% for user in users %}
    <div class="p-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ user }}</h5>
                <div class="card-text">
                    <p>{{ user.about_me }}</p>
                    <p>
                        <a href="mailto:{{ user.email }}">
                            {{ user.email }}
                        </a>
                    </p>
                    <p>
                        <a href="tel:{{ user.phone }}">
                            {{ user.phone }}
                        </a>
                    </p>
                </div>
                <a href="profile/{{ user.username }}" class="btn btn-primary">Профиль</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}