{% extends 'extends/index.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
<div>
    <h2>Профиль</h2>
</div>
<div class="d-flex flex-wrap">
    <div class="p-2">
        {% if user.photo %}
        <p>
            <img src="/{{ user.photo }}" width="500px">
        </p>
        {% endif %}
        {% if request.user == user %}
        <p>
            <a class="btn btn-outline-secondary" href="{% url 'settings' %}">Настройки профиля</a>
        </p>
        {% endif %}

    </div>
    <div class="p-2">
        <h4>{{ user }}</h4>
        <p></p>
        {{ user.about_me }}
        <p></p>
        {{ user.email }}
        <p></p>
        {{ user.phone }}
    </div>
    <div class="p-2">
        <h4>Социальные сети</h4>
        <p></p>
        <div class="d-flex flex-wrap">
            {% for network in networks %}
            <div class="p-2">
                <a class="btn btn-outline-secondary" href="{{network.link}}">{{network.network_name}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}