{% extends 'extends/index.html' %}
{% block title %} {{ user }} {% endblock %}
{% block content %}
<div>
    <h2>Профиль</h2>
</div>
<div class="d-flex flex-wrap">
    {% if user.photo %}
    <div class="p-2">
        <p>
            <img src="/{{ user.photo }}" alt="Не загрузилась" class="img-thumbnail rounded-3" style="max-width: 350px;">
        </p>
    </div>
    {% endif %}
    <div class="p-2">
        <h4>{{ user }}</h4>
        <div class="shadow p-2 mb-3 bg-body rounded mt-2">
            <p>
                О себе: {{ user.about_me }}
            </p>
            <p>
                <a href="mailto:{{ user.email }}">
                    {{ user.email }}
                </a>
            </p>
            <p>
                <a href="tel:{{ user.phone }}">
                    {{ user.phone }}
                </a>
            </p>
        </div>
        {% if request.user == user %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#user-edit">
            Редактирование страницы
        </button>
        <p></p>
        <a class="btn btn-outline-secondary" href="{% url 'logout_page' %}">Выход</a>
        <form method="POST" name="user-info" class="p-2" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal fade" id="user-edit" tabindex="-1" aria-labelledby="user-edit-label"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="user-edit-label">Редактирование страницы</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="input-group mb-3">
                                <label>
                                    <input value="{{ user.username }}" type="text" class="form-control"
                                           name="username" placeholder="Username"
                                           autocomplete="username" required>
                                </label>
                            </div>
                            <div class="input-group mb-3">
                                <label>
                                    <input value="{{ user.first_name }}" type="text" class="form-control"
                                           name="first_name" placeholder="Имя"
                                           autocomplete="first_name" required>
                                </label>
                            </div>
                            <div class="input-group mb-3">
                                <label>
                                    <input value="{{ user.last_name }}" type="text" class="form-control"
                                           name="last_name" placeholder="Фамилия"
                                           autocomplete="last_name" required>
                                </label>
                            </div>
                            <div class="input-group">
                                <label>
                                    <textarea name="about_me" class="form-control" placeholder="О себе">{{ user.about_me }}</textarea>
                                </label>
                            </div>
                            <p></p>
                            <div class="input-group mb-3">
                                <label>
                                    <input value="{{ user.phone }}" type="text" class="form-control" name="phone"
                                           placeholder="Телефон"
                                           autocomplete="phone">
                                </label>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="photo">Обновить аватарку</label>
                                <input type="file" class="form-control" id="photo" placeholder="Аватарка" name="photo"
                                       accept="image/*">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary" name="update_user">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
<div class="d-flex flex-wrap">
    <div class="p-2">
        <h4>Социальные сети</h4>
        <div class="mt-2">
            <div class="d-flex flex-wrap">
                {% if networks %}
                {% for network in networks %}
                <div class="p-2">
                    <a class="btn btn-outline-secondary" href="{{network.link}}">{{network.network_name}}</a>
                </div>
                {% endfor %}
                {% else %}
                <p>Пользователь не оставил ссылки на соц сети</p>
                {% endif %}
            </div>
        </div>
        {% if request.user == user %}
        <form method="post" name="social-network" class="">
            {% csrf_token %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#add_network">
                Добавить социальную сеть
            </button>
            <!-- Modal -->
            <div class="modal fade" id="add_network" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Добавление соц сети</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <label>
                                    <input type="text" class="form-control" name="network_name"
                                           placeholder="Название соц сети" maxlength=60 required>
                                </label>
                            </div>
                            <div class="input-group mb-3">
                                <label>
                                    <input type="url" class="form-control" name="link" placeholder="Ссылка на профиль"
                                           required>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary" name="add-network">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        {% endif %}
    </div>
    {% if request.user == user %}
    <div class="p-2">
        <form method="POST" name="notification" class="">
            {% csrf_token %}
            <h4>Уведомления</h4>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="myCheckbox" name="telegram"
                       onclick="myFunction()"
                       {% if user.telegram_notify %} checked {% endif %}>
                <label class="form-check-label">
                    <strong>Телеграм</strong>
                </label>
                <div class="mt-2" id="checkInput" style="display:none">
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        Напиши этому <a href="https://t.me/chatid_echo_bot">боту</a> и введи свой id
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        И конечно же у тебя должен быть запущен этот <a href="https://t.me/tseh_notify_bot">бот</a>
                        (просто напиши ему)
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <label>
                        <input type="number" class="form-control" name="telegram-id" value="{{ user.telegram_id }}"
                               placeholder="Telegram id" maxlength=60 required>
                    </label>
                </div>
            </div>
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" value="" id="Mail" name="mail"
                       {% if user.mail_notify %} checked {% endif %}>
                <label class="form-check-label" for="Mail">
                    <strong>Почта</strong>
                </label>
            </div>
            <button type="submit" class="btn btn-primary mt-2" name="notify">Сохранить изменения</button>
        </form>
    </div>
    {% endif %}
</div>
<h4 class="p-2">Проекты</h4>
<div class="d-flex flex-wrap">
    {% if projects %}
    {% for project in projects %}
    <div class="p-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ project }}</h5>
                <p class="card-text">{{ project.about_project }}</p>
                <a href="/project/{{ project.id }}" class="btn btn-primary">Страница проекта</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="p-2">Проектов с его участием еще нет</p>
    {% endif %}
</div>
{% endblock %}