<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:300,400,500,600,700" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'logo.jpg' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'logo.jpg' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'logo.jpg' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header id="site-header" class="site-header">
    <div class="site-logo">
        <a href="/">ЦЕХ</a>
    </div>
    <div class="empty-div">
        <!-- делает пространство между лого и меню-->
    </div>
    <nav class="site-navigation">
        {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
        <a href="admin">Админка</a>
        {% endif %}
        <a href="employees">Сотрудники</a>
        <a href="calendar">Мой календарь</a>
        <a href="open_works">Открытые проекты</a>
        <a href="profile">Профиль</a>
        {% else %}
        <div class="dropdown">
            <button class="dropbtn">Вы еще не вошли</button>
            <div class="dropdown-content">
                <a href="login">Вход</a>
                <a href="registration">Регистрация</a>
            </div>
        </div>
        {% endif %}
    </nav>
</header>
{% block content %}
{% endblock %}
<footer>
</footer>
</body>
</html>



