<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
       ym(80900842, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/80900842" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:300,400,500,600,700" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'logo.png' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">
        <h3>ЦЕХ</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            {% if request.user.is_staff %}
            <li class="nav-item m-2">
                <a class="btn btn-outline-secondary" href="admin">Админка</a>
            </li>
            {% endif %}
            <li class="nav-item m-2">
                <a class="btn btn-outline-secondary" href="employees">Люди</a>
            </li>
            <li class="nav-item m-2">
                <a class="btn btn-outline-secondary" href="calendar">Календарь</a>
            </li>
            <li class="nav-item m-2">
                <a class="btn btn-outline-secondary" href="{% url 'open_project' %}">Открытые проекты</a>
            </li>
            <li class="nav-item m-2">
                <a class="btn btn-outline-secondary" href="profile/{{ request.user.username }}">Профиль</a>
            </li>
            {% else %}
            <li class="nav-item dropdown m-2">
                <a class="btn btn-outline-secondary" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Вы еще не вошли</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'login_page' %}">Вход</a></li>
                    <li><a class="dropdown-item" href="{% url 'registration_page' %}">Регистрация</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="px-5">
    <div class="row">
        {% for i in messages %}
        <p></p>
        <div class="col">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{i}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>
        {% endfor %}
    </div>
    <p></p>
    {% block content %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>
