<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
<!--     Yandex.Metrika counter -->
<!--    <script src="/static/js/yandex.js"></script>-->
<!--    <noscript>-->
<!--        <div><img src="https://mc.yandex.ru/watch/80900842" style="position:absolute; left:-9999px;" alt=""/></div>-->
<!--    </noscript>-->
<!--     /Yandex.Metrika counter -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'logo.png' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <h3>ЦЕХ</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">

                {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                <li class="nav-item m-2">
                    <a class="btn btn-light" href="/admin">Админка</a>
                </li>
                {% endif %}
                <li class="nav-item m-2">
                    <a class="btn btn-light" href="{% url 'all_profiles' %}">Люди</a>
                </li>
                <li class="nav-item m-2">
                    <a class="btn btn-light" href="{% url 'calendar' %}">Календарь</a>
                </li>
                <li class="nav-item m-2">
                    <a class="btn btn-light" href="{% url 'open_project' %}">Открытые проекты</a>
                </li>
                <li class="nav-item m-2">
                    <a class="btn btn-lighty" href="/profile/{{ request.user.username }}">Профиль</a>
                </li>
                {% else %}
                <li class="nav-item dropdown m-2">
                    <a class="btn btn-light border" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false">Вы еще не вошли</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'login_page' %}">Вход</a></li>
                        <li><a class="dropdown-item" href="{% url 'registration_page' %}">Регистрация</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        {% for i in messages %}
        <p></p>
        {% if i.tags == 'error' %}
        <div class="col">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{i}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        </div>
        {% else %}
        <div class="col">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{i}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <p></p>
    {% block content %}
    {% endblock %}
</div>
<script src="/static/js/main.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>
